<div class="">

    <br />
    <br />
    <div class="container border-bottom border-dark">

        <button type="button" class="btn btn-primary btn-block btn-lg" ng-click="newJourney()">Skapa ny resa</button>
        <br />
        <br />

    </div>
    <div class="container">
        <h1>Pågående resa:</h1>
        <br />

        <button type="button" class="btn btn-light btn-block btn-lg btn-outline-secondary">Information om pågående resa</button>
        <br />

        <div id="journeyToDoContainer">
            <div class="form-group">
                <textarea class="form-control" id="journeyToDo" rows="3" placeholder="Ärende..."></textarea>
            </div>
        </div>
        <div id="journeyNotesContainer">
            <div class="form-group">
                <textarea class="form-control" id="journeyNotes" rows="3" placeholder="Anteckningar..."></textarea>
            </div>
        </div>
    </div>

</div> 