<div>

    <form>
        <div id="containerBox" class="container border rounded" style="padding: 15px">

            <div class="row">

                <div class="col-12 col-md-6">
                    <div id="LoginBox" class="">
                        <form name="loginForm" ng-submit="login">
                            <h6 id="LoginText" class="text-nowrap">Logga in</h6>
                            <div id="LoginUser">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <input id="LoginUserName" class="align-content-center" type="text" placeholder="E-mail/Username..." required />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div id="LoginPassword">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <input id="Password1" class="align-content-center" type="password" placeholder="Password..." required />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div>
                                <div id="userSubmit">
                                    <div class="btn-group">
                                        <button ng-click="tryLogin()" id="LoginButton" class="btn btn-primary" type="submit" ng-disabled="login.$invalid">Logga in</button>
                                    </div>
                                </div>
                                <br />
                                <!--<div>
                                    <label>
                                        <input type="checkbox" checked="checked" name="remember" /> Kom ihåg mig
                                    </label>

                                </div>-->
                            </div>
                        </form>
                    </div>
                    <!-- SignUp -->
                    <div class="col-12 col-md-6 align-self-end">

                        <button ng-click="signUp()" id="signUpButton" class="btn btn-success" type="button">Registrera</button>
                        
                        <br />
                        <!--<div>
                            <span class="pword"><a href="#">Glömt lösenord?</a></span>
                        </div>-->

                    </div>

                </div>
            </div>
        </div>
    </form>

</div>