<div class="container border-dark">
    <div class="dropdown">
        <button class="btn btn-light btn-lg btn-block border-dark dropdown-toggle" id="chooseVehicleId" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{chooseVehicle}}
        </button>
        <div class="dropdown-menu" aria-labelledby="chooseVehicleId">
            <a class="dropdown-item" href="#">LOL-404</a>
            <a class="dropdown-item" href="#">REG-123</a>
        </div>
    </div>
    <div class="input-group date" id="journeyDatePicker">
        <input type="date" class="form-control"/>
        
    </div>
</div>