<div>
    <button class="btn btn-warning" ng-click="vehiclesToMain()">Meny</button>
</div>

<br />

<div class="container border rounded" style="padding: 15px">
    <div class="col-12">
        <h2>Fordon</h2>
        <br />
        

        <div class="container border-dark" style="padding: 0px">
            <div id="listOfVehicles">
                <div class="card clearfix">
                    
                        <ul class="list-group list-group-flush" ng-repeat="Vehicle in Vehicles">
                            <li id="listVehicle{{Vehicle.Id}}" class="list-group-item">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="radio" ng-model="setStandard(Vehicle.Id)" name="standardVehicle" aria-label="Radio button for standard vehicle" />
                                        </div>
                                    </div>

                                    <label class="input-group-text col-9">
                                        {{Vehicle.VehicleRegNr}}
                                    </label>

                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-danger float-right" ng-click="removeVehicle(Vehicle.Id)">
                                            Delete
                                        </button>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    
                </div>
            </div>
        </div>
        <button class="btn btn-light btn-outline-primary btn-lg btn-block" ng-click="viewNewVehicle()">
            Lägg till nytt fordon
        </button>
    </div>
</div>